.container {
  display: flex;
  gap: 2rem;
}

.contents {
  flex-grow: 1;
}

.container + .container {
  margin-top: 1rem;
}

.cover {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary);
}

.name {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}
.major {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}
.period {
  font-size: 1.3rem;
}
