:root {
  --primary: #24c4c7;
  --secondary: #f8f9fa;
  --portfolio-maxWidth: 1100px;
  --landing-maxWidth: 980px;
  --placeholder-color: #bdc0c2;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

input,
textarea {
  border: none;
  font-weight: 700;
  background-color: var(--secondary);
}

textarea {
  border: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

input:focus {
  outline: none;
}
