:root {
  --primary: #24c4c7;
  --secondary: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --portfolio-maxWidth: 1100px;
  --landing-maxWidth: 980px;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
