.main {
  padding-bottom: 100px;
}

.mainSection {
  padding: 60px 30px 0;
  min-height: 600px;
  display: flow-root;
  background-color: #f8f9fa;
}

.mainIntro {
  font-size: 1.9rem;
  font-weight: bold;
  width: 320px;
  text-align: center;
  margin: 40px auto 0;
  word-break: keep-all;
}

.mainCover {
  max-width: 600px;
  margin: 50px auto 30px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: var(--landing-maxWidth);
  margin: 0 auto;
  padding: 0 20px;
}

.subSectionContainer {
  display: flex;
  gap: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.subSection:nth-child(even) .subSectionContainer {
  flex-direction: row-reverse;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.subSectionCover {
  width: 50%;
  border-radius: 10px;
  position: relative;
  height: 300px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.subSectionContents {
  flex-grow: 1;
}

.subSection:first-child {
  margin-top: 60px;
}

.subSection + .subSection {
  margin-top: 60px;
}

.footer {
  background-color: #f1f3f5;
  padding: 20px 0;
}
