.container {
  display: flex;
  gap: 2rem;
}

.contents {
  flex-grow: 1;
}

.container + .container {
  margin-top: 1rem;
}

.cover {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
