.container {
  display: flex;
}

.sidebar {
  width: 8rem;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #343a40;
  /* color: #838483; */
  color: #e9ecef;
}

.portfolio {
  flex-grow: 1;
}

.profile {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8rem;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.portfolioHeader {
  background-color: var(--secondary);
  min-height: 40rem;
  padding: 3.4rem 5rem 3.4rem;
}

.insertArea {
  width: 300px;

  @media (max-width: 1000px) {
    width: 60%;
  }
}

.profileCover {
  cursor: pointer;
  height: 350px;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--primary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    width: 80%;
  }
}

.portfolioContents {
  padding: 3rem 5rem 5rem;
}

.field {
  margin-top: 1rem;
  min-height: 20rem;
}

.skills {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
}

.section + .section {
  margin-top: 4rem;
}

.sectionTitle {
  margin-bottom: 1rem;
}
